body {
  background: rgb(147, 105, 63);
}

.form {
  background:rgb(243, 203, 140);
  padding: 16px 20px;
  max-width: 768px;
  margin: auto;
}

.list__title {
  text-align: center;
  font-size: 48px;
  font-family: serif;
  color: rgb(117, 83, 49);
}

.list__btn {
  border-bottom: solid 2px rgb(147, 105, 63);
  padding-bottom: 12px;
}

.btn-add {
  border-width: 2px;
  border-color: rgb(255, 238, 210);
  background-color: rgb(147, 105, 63);
  color: rgb(243, 203, 140);
  width: 400px;
  font-family: serif;
  cursor: pointer;
}

.wrapper {
  text-align: center;
}

.list__input {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.input__left {
  width: 100%;
  text-align: start;
}

.list__check {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  width: 10px;
}

.list__check:after {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: rgb(147, 105, 63);
  display: inline-block;
  visibility: visible;
  padding: 1px 3px;
  border-radius: 3px;
}

.list__check:checked:after {
  content: "✓";
  font-size: 12px;
  color: rgb(255, 238, 210);
}

.list__content {
  background-color: rgb(243, 203, 140);
  border-style: none;
  font-family: serif;
  width: 90%;
  outline: none;
  color: rgb(117, 83, 49);
}

.btn-delete {
  border-width: 2px;
  border-color: rgb(255, 238, 210);
  background-color: rgb(147, 105, 63);
  color: rgb(243, 203, 140);
  font-family: serif;
  font-size: 8px;
  cursor: pointer;
}

@media(max-width: 768px) {
  body {
    background: rgb(147, 105, 63);
  }

  .form {
    background:rgb(243, 203, 140);
    padding: 16px 20px;
  }

  .list__title {
    text-align: center;
    font-size: 48px;
    font-family: serif;
    color: rgb(117, 83, 49);
  }

  .list__btn {
    border-bottom: solid 2px rgb(147, 105, 63);
    padding-bottom: 12px;
  }

  .btn-add {
    border-width: 2px;
    border-color: rgb(255, 238, 210);
    background-color: rgb(147, 105, 63);
    color: rgb(243, 203, 140);
    width: 400px;
    font-family: serif;
    cursor: pointer;
  }

  .wrapper {
    text-align: center;
  }

  .list__input {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
  }

  .input__left {
    width: 100%;
    text-align: start;
  }

  .list__check {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    width: 10px;
  }

  .list__check:after {
    position: absolute;
    width: 10px;
    height: 15px;
    top: 0;
    content: " ";
    background-color: rgb(147, 105, 63);
    display: inline-block;
    visibility: visible;
    padding: 1px 3px;
    border-radius: 3px;
  }

  .list__check:checked:after {
    content: "✓";
    font-size: 12px;
    color: rgb(255, 238, 210);
  }

  .list__content {
    background-color: rgb(243, 203, 140);
    border-style: none;
    font-family: serif;
    width: 90%;
    outline: none;
    color: rgb(117, 83, 49);
  }

  .btn-delete {
    border-width: 2px;
    border-color: rgb(255, 238, 210);
    background-color: rgb(147, 105, 63);
    color: rgb(243, 203, 140);
    font-family: serif;
    font-size: 8px;
    cursor: pointer;
  }
}