* {
  box-sizing: border-box;
  /* 內容不超過邊界 */
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* 固定在上方 */
  z-index: 2;
  /* 讓 navbar 在頁面顯示呈現最上層 */
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 36px;
  align-items: center;
  box-shadow: 1.4px 1.4px 10px 0 #97a2a0;
}

.navbar__site {
  font-weight: bold;
  font-size: 24px;
}

.navbar__list {
  display: flex;
  flex: 1; 
  /* 平分每個 list */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  /* 靠向結束方向 */
  align-items: stretch;
  height: 100%;
}

.navbar__list li {
  display: flex;
  align-items: center;
  padding: 30px;
  transition: all 0.2s;
  cursor: pointer;
}

.navbar__list li:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.bg {
  max-width: 1440px;
  background: rgb(34, 34, 34);
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
  color: white;
  min-height: 100vh;
  z-index: 2;
  /* 100vh 類似 100%，設定 100% 沒內容的話，元素不會撐開 100vh 反之*/
}

.streams {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stream {
  width: 360px;
  background: rgb(64, 64, 64);
  color: white;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
  transition: all 0.2s;
  opacity: 0.9;
  /* 透明效果 */
  cursor: pointer;
}

.stream:hover {
  transform: scale(1.07);
  /* 縮放 */
  filter: brightness(1.2);
  /* 濾鏡 */
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.stream > img {
  width: 100%;
}

.stream__data {
  display: flex;
  align-items: center;
  padding: 8px;
}

.stream__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  /* 變成圓形 */
  overflow: hidden;
  margin-right: 12px;
  min-width: 64px;
}

.stream__avatar > img {
  width: 100%;
  height: 100%;
}

.stream__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.stream__title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.stream-empty {
  width: 360px;
  margin-left: 16px;
}