$black-01: #000000 ;
$black-02: #333333 ;
$black-03: #434343 ;
$black-04: #323232 ;

$grey-01: #787878 ;
$grey-02: #9a9a9a ;
$grey-03: #a8a8a8 ;
$grey-04: #737373 ;
$grey-05: #8f8f8f ;

$white-01: #ffffff ;
$white-02: #eeeeee ;

$warning: #ff6e6e ;